{% extends 'base.html' %}
{% load crispy_forms_tags  %}
{% load static %}
{% block body %}

    <div class="container">
        <div class="row"> 
                       
            {% include 'user_welcome_title.html' %}
            
            <h6>Last Login {{request.user.last_login}}</h6>

            <hr>
            <div class="card">
                <div class="col-md-10 col-md-offset-3">
                    <form method="POST"enctype="multipart/form-data" autocomplete="off">
                        {% csrf_token %}
                        {{user_form|crispy}}
                        {{user_form.media}}
                        <input class="btn btn-primary button_shadow"type="submit" value="send">
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}