{% extends 'base.html' %}
{% load static %}
{% load profile_tag %}
{% block body %}

    <div class="container">
        <div class="row"> 
                       
            <div class="d-flex mt-2">
                <h1>Welcome To {{user}}'s profile</h1>
                <h5 class="ms-auto"> {% if user.is_staff %} <a class="nav-link text-black" href="{% url 'user_profile:profile'  request.user %}">     Admin 
                {% else %} <a class="nav-link text-black" href="{% url 'user_profile:profile' request.user %}"> User {% endif %} <img class="account" alt=""></a></h5> 

                
            </div>

            <div class="d-flex">
                <h6>Last Login {{user.last_login}}</h6>

                {% if user == request.user %} <!-- if the user is the profile user, than show the edit profile button -->
                    <small class="text_fadded ms-3 "><a class="nav-link p-0 " href="{% url 'user_profile:profile_edit' request.user %}">Edit profile</a></small>
                {% endif %}

                 <a class="nav-link ms-auto me-3 p-0" href="{% url 'accounts:logout' %}"
                data-bs-toggle="modal" data-bs-target="#modal_1">Logout</a>
            </div>

            {% include 'profile_templates/profile_user_card.html' %}

            <hr>

            <div class=" d-flex justify-content-between">
                <h3>Friends</h3>

                <div>
                    <!-- TODO: -->
                    <!-- Make a include card here that will iterate over everyones friends and list them here -->
                    <!-- NOTE: i havent added a friend system yet, i will soon. -->
                </div>

                <h3>Posts</h3>

                <div>
                    <!-- TODO: -->
                     <!-- will list the user posts. -->
                </div>
                
                <h3>Stats</h3>

                <div>
                    <!-- TODO: -->
                    <!-- will list the user stats like amount of likes, comments, posts, friends, bans, etc.-->
                     <!-- it would be better to make it sticky -->
                </div>

            </div>
            <hr>
        </div>
    </div>

{% endblock %}