{% load static %}
{% load profile_tag %}
<div class="card">
    <div class="col-md-0">
        
        <div class="d-flex">
            
        <!-- This is no longer used unless  you wana bring back custom profile pics -->
        <!-- {% if profile.image %}
            <img src="{{ profile.image.url }}" alt="profile image">
        {% else %} -->
        
            <div class="2profile-box me-2" data-size="8">
                <div class="profile-box" data-size="8"> 
                    {% render_profile user %}
                </div>
            </div>

            {% if False and debug %} <!-- makes this True for testing out profile generation-->
                <a href="{% url 'procedural_pfp:pfp_regen_debug' %}">Debug Refresh Profile Pic</a>
            {% endif %}

        {% endif %}
        
    
            <div>
                <h1 class="ms-2">{{user}}</h1>
                <div class="d-flex justify-content-between">

                    <div class="ms-auto">

                    {% if request.user == user %}
                        <p class="ms-2 mb-0">Currency: {{ BZ }}</p> 
                    {% endif %}

                    {% if profile.location %} <!-- Generic info about the account, you can put anything here -->
                        <p class="text_fadded mb-0 ms-2">Location: {{ profile.location }}</p>
                    {% endif %}

                    {% if profile.gender %}
                        <p class="text_fadded mb-0 ms-2">Gender: {{ profile.gender}}</p> <!--Gender is limited to 10 characters -->
                    {% endif %}

                    {% if profile.user_age %}
                        <p class="text_fadded mb-0 ms-2">Age: {{ profile.user_age}}</p>  <!-- Numeric value from 1-120 -->
                    {% endif %}

                    </div>
                </div>

            </div>

            <hr class="ms-3" style="width: 4px; height: auto; display: inline-block; background-color: rgb(255, 255, 255);">

                <div class="m-2 p-3">
                    {% if profile.location %}
                        <div>
                            <p style="overflow-wrap: break-word; word-break: break-word;">{{ profile.bio }}</p>
                        </div>
                    {% else %}
                        <h3 class="text_fadded">No Message</h3>
                    {% endif%}

                    {% if request.user == user %}
                        <a href="{% url 'procedural_pfp:pfp_reroll' %}" class="btn btn-primary button_shadow m-2">
                            <img class="refresh" alt="Reroll profile"> Reroll Profile -20 BZ
                        </a>
                    {% endif %}

                    {% if request.user != user %}
                        {% if is_friend == False %}
                            {% if friend_requested == False %}
                                <a href="{% url 'user_profile:friend_req' user %}" class="btn btn-primary button_shadow m-2">
                                    <img class="favorite-heart " alt="Add Friend"> Add friend
                                </a>
                            {% else %}
                                 <a href="{% url 'user_profile:cancel_friend_req' user %}" class="btn btn-primary button_shadow m-2">
                                    <img class="pending-invite " alt="Cancel Friend Request"> Cancel friend request
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'user_profile:remove_friend' user %}" class="btn btn-primary button_shadow m-2">
                                <img class="broken-heart " alt="Remove Friend"> Remove friend
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
        </div>

        <div class="d-flex justify-content-between">
            <small class="text_fadded">Edited: {{ profile.updated_at }}</small>
            <small class="text_fadded">Account Age: {{ profile.created_at}}</small>
        </div>
        
    </div>
</div>