{% load static %}
{% load profile_tag %}
<div class="card">
    <div class="col-md-0">
        
        <div class="d-flex">

        {% if profile.image %}
            <img src="{{ profile.image.url }}" alt="profile image">
        {% else %}
            <div class="2profile-box me-2" data-size="8">
                <div class="profile-box" data-size="8"> 
                    {% render_profile user %}
                </div>
            </div>
        {% endif %}
        
    
            <div>
                <h1 class="ms-2">{{user}}</h1>
                <div class="d-flex justify-content-between">

                    <div class="ms-auto">
                    {% if profile.location %}
                        <p class="text_fadded ms-2">Location/{{ profile.location }}</p>
                    {% endif %}

                    {% if profile.gender %}
                        <p class="text_fadded mt-3 ms-2">Gender/{{ profile.gender}}</p>
                    {% endif %}

                    {% if profile.user_age %}
                        <p class="text_fadded mt-3 ms-2">Age/{{ profile.user_age}}</p> 
                    {% endif %}

                    </div>
                </div>

            </div>

            <hr class="ms-3" style="width: 4px; height: auto; display: inline-block; background-color: rgb(255, 255, 255);">

                <div class="m-2 p-3">
                    {% if profile.location %}
                        <div>
                            <p style="overflow-wrap: break-word; word-break: break-word;">{{ profile.bio }}</p>
                        </div>
                    {% else %}
                        <h3 class="text_fadded">No Message</h3>
                    {% endif%}

                    <!-- {% if user %} Add friend button -->
                        
                        <a href="{% url 'user_profile:profile' request.user %}" class="btn btn-primary button_shadow m-2">
                            <img class="favorite-heart " alt="Add Friend"> Add friend
                        </a>
                    <!-- {% else %}
                        <a href="{% url 'user_profile:profile' request.user %}" class="btn btn-primary button_shadow m-2">
                            <img class="broken-heart " alt="Remove Friend"> Remove friend
                        </a>
                    {% endif %} -->
                </div>
        </div>

        <div class="d-flex justify-content-between">
            <small class="text_fadded">Edited: {{ profile.updated_at }}</small>
            <small class="text_fadded">Account Age: {{ profile.created_at}}</small>
        </div>
        
    </div>
</div>