{% load static %}
{% load profile_tag %}
<div class="card">
    <div class="col-md-0">
        
        <div class="d-flex">

        {% if profile.image %}
            <img src="{{ profile.image.url }}" alt="profile image">
        {% else %}
            <div class="2profile-box me-2" data-size="8">
                <div class="profile-box" data-size="8"> 
                    {% render_profile user %}
                </div>
            </div>
        {% endif %}
        
    
            <div >
                <h1>{{user}}</h1>

                <h3>Bio</h3>
                {% if profile.location %}
                    {{ profile.bio }}
                {% else %}
                    <p>No Bio</p>
                {% endif%}

                {% if profile.location %}
                    <p class="text_fadded">{{ profile.location }}</p>
                {% endif %}

                {% if profile.location %}
                    <p class="text_fadded">{{ profile.gender}}</p>
                {% endif %}

                {% if profile.user_age %}
                    <p class="text_fadded">{{ profile.user_age}} <span> Yrs Old</span> </p> 
                {% endif %}
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <small class="text_fadded">Edited: {{ profile.updated_at }}</small>
            <small class="text_fadded">Account Age: {{ profile.created_at}}</small>
        </div>
        
    </div>
</div>