{% block body%}{% load static %}
{% load timesince_shortner %}
<div class="card post_body w-100 d-flex flex-column justify-content-between" style="height: 100%;">
    <div class="caption flex-grow-1 d-flex flex-column">
        <div style="position: relative; flex-grow: 1; overflow: hidden; overflow-wrap: break-word;">
            <a href="{{ post.get_absolute_url }}"><span class="div_link"></span></a>


            
            <div class="card-header">
                <h3 class="post_title">
                    {{ post.title }}
                </h3>
                <h6 class="post_title">
                    OP: {{ post.user.username }}
                </h6>
            </div>                      
            <div>

                {% if post.video %}
                    <video src="{{ post.video.url }}" alt="Post video" class="img-thumbnail mt-2" width="500" controls></video>
                {% else %}
                    {% if post.images.count %}
                        <img src="{{ post.images.all.0.image.url }}" alt="Post Image" class="img-thumbnail mt-2" style="max-height: 200px;">
                    {% elif post.image %}
                        <img src="{{ post.image.url }}" alt="Post Image" class="img-thumbnail mt-2" style="max-height: 200px;">
                    {% endif %}
                {% endif %}

                <div class="card-header mt-2">
                    {{ post.desc|safe|linebreaks|truncatechars:150 }}
                
                    {% if post.video %}
                        {% if post.image%}
                            <small>Show More</small>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center mt-auto px-2 card-header"> <!-- post footer -->

            <!-- upvotes views -->
            {% if request.user.is_authenticated %}
                <div class="d-flex align-items-center gap-2">

                    {% if post.id in upvoted_posts %}
                        <a href="{% url 'post:upvote_post' post.id %}?page={{ posts.number }}">
                            <img class="scale-hover arrow_fill_upvote" alt="">
                        </a>
                    {% else %}
                        <a href="{% url 'post:upvote_post' post.id %}?page={{ posts.number }}">
                            <img class="scale-hover arrow_upvote" alt="">
                        </a>
                    {% endif %}
                    <span>{{ post.upvotes }}</span>

                    <img class="eye ms-2" alt="">
                    <span>{{ post.post_views }}</span>

                </div>
            {% endif %}


            <div class="d-flex align-items-center ms-auto gap-2">

                <!-- option actions -->
                <div class="collapse text-end px-2" id="postfooteritems_{{ post.id }}">
                    {% if post.user == request.user %}
                        <a href="{% url 'post:update' post.id %}"><img class="edit" alt="Edit Post"></a>
                        <a href="" data-bs-toggle="modal" data-bs-target="#modal_delete_{{ post.id }}"><img class="delete" alt="Delete Post"></a>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        {% if post.id in reported_posts %}
                            <a href="" data-bs-toggle="modal" data-bs-target="#modal_report_{{ post.id }}"><img class="flag_fill" alt="Report Post"></a>
                        {% else %}
                            <a href="" data-bs-toggle="modal" data-bs-target="#modal_report_{{ post.id }}"><img class="flag" alt="Report Post"></a>
                        {% endif %}
                    {% endif %}
                </div>

                <small class="d-none d-md-block d-md-none d-lg-block" data-bs-toggle="tooltip" title="{{ post.date }}">
                    {{ post.date|timesince_single_unit }} Ago
                </small>

                <button class="btn p-0" type="button" data-bs-toggle="collapse" data-bs-target="#postfooteritems_{{ post.id }}" aria-label="Toggle Post Actions">
                    <img class="options_toggle" alt="">
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal post delete -->
<div class="modal fade" id="modal_delete{{ post.id }}" tabindex="-1" aria-labelledby="modalLabel_{{ post.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel_{{ post.id }}">Delete Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this post?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary button_shadow" data-bs-dismiss="modal">No</button>
                {% if request.user.is_authenticated %}
                    <a href="{{ post.get_delete_url_home }}" class="btn btn-danger button_shadow" role="button">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Modal post report -->
<div class="modal fade" id="modal_report_{{ post.id }}" tabindex="-1" aria-labelledby="modalLabel_{{ post.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel_{{ post.id }}">Report Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to Report this post?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary button_shadow" data-bs-dismiss="modal">No</button>
                {% if request.user.is_authenticated %}
                    <a href="{{ post.get_report_url }}" class="btn btn-danger button_shadow" role="button">Report</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock%}
