{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container mt-5">
    <div class="row d-flex mt-3">
        
        <div class="card post_body_noscale p-3">
            <h1 class="text-center mb-4">Bubble name</h1>

            <div class="d-flex justify-content-center">
                <img class="d-flex justify-content-center" onclick="alert('test')" src="{% static 'img/header/bubbles/bubble1.png'%}" width="30%" alt="">
            </div>
        </div>
</div>

<script src="{% static 'js/bubbles_contribs.js'%}"></script>

{% endblock %}