/* ##############################################################*/
/* icons that match the web theme must apply to the img tag. */
/* ##############################################################*/

/* Posts */
.arrow_upvote{
    content: var(--arrow);
}

.arrow_fill_upvote{
    content: var(--arrow-fill);
}

.eye{
    content: var(--eye);
}

.edit{
    content: var(--edit);
}

.flag{
    content: var(--flag);
}

.options_toggle{
    content: var(--options);
}

/* Post Create */
.file_upload{
    content: var(--file-upload);
}
.image_file_upload{
    content: var(--file-upload-image);
}
.css_logo{
    content: var(--css-logo);
}

.js_logo{
    content: var(--js-logo);
}

.html_logo{
    content: var(--html-logo);
}


.flag_fill{
    content: var(--flag-fill);
}

/* Admin panel */
.edit_normal{
    content: var(--edit-normal);
}

.delete{
    content: var(--delete);
}

.account{
    content: var(--account);
}

.account_false{
    content: var(--account-false);
}

.admin_true{
    content: var(--admin-true);
}

.admin_false{
    content: var(--admin-false);
}

.disabled_eye{
    content: var(--disabled-eye);
}

/* Header */

.theme_toggle_icon{
    content: var(--theme_toggle_icon);
}

.compass{
    content: var(--compass);
}

.map_search{
    content: var(--map-search);
}

/* profile */

.favorite-heart{
    content: var(--favorite-heart);
}

.broken-heart{
    content: var(--broken-heart);
}

.pending-invite{
    content: var(--pending-invite);
}

.refresh{
    content: var(--refresh);
}

/* Paginator */

.paginator-arrow-left{ content: var(--paginator-arrow-left); }
.paginator-arrow-right{ content: var(--paginator-arrow-right); }
.paginator-arrow-double-left{ content: var(--paginator-arrow-double-left); }
.paginator-arrow-double-right{ content: var(--paginator-arrow-double-right); }