/* The variables for the website theme Ex: light mode and dark mode*/
/* You can find the icon variables in the base html files, these variables get assigned in icons.css*/

:root[data-theme="light"]{ /*Handles dark and light mode*/
    --bg-color: rgb(255, 255, 255);
    --bg-secondary-color: rgba(230, 230, 230, 0.3);
    --bg-border-color: rgb(200, 200, 200);
    --text-color: rgb(5, 5, 5);
    --text-color-faded: rgba(5, 5, 5, 0.5);
    --text-color-faded: rgba(5, 5, 5, 0.5);

    --shadow-color-08: rgba(0, 0, 0, 0.8);
    --shadow-color-04: rgba(0, 0, 0, 0.4);
    --shadow-color-02: rgba(0, 0, 0, 0.2);

    --transparent: rgba(0, 0, 0, 0);

    --bubble-brightness: 0.5;

    --button-disabled: #8a8a8a;
    --button-disabled-hover: #7c7c7c;
    --button-disabled-active: #505050;

    --button-border-color: rgb(180, 180, 180);
    --button-border-color-hover: rgb(200, 200, 200);

    --button-primary-color-hover: rgb(255, 255, 255);
    --button-primary-color: rgb(245, 245, 245);

    --navbar-gradient: linear-gradient(rgb(45, 45, 45, 0.6) 80%, #ffffff00 90%);
    --paginator-gradient: linear-gradient(#ffffff00, #ffffff);

    --bg-txtbox-color: rgb(245, 245, 245);
    --txtbox-border-color: rgb(220, 220, 220);
    --bg-txtbox-color-focused: rgb(255, 255, 255);
    --txtbox-border-color-focused: rgb(240, 240, 240);
}
:root[data-theme="dark"]{
    --bg-color: rgb(45, 45, 45);
    --bg-secondary-color: rgb(75, 75, 75,0.3);
    --bg-border-color: rgb(75, 75, 75);
    --text-color: rgb(255, 255, 255);
    --text-color-faded: rgb(255, 255, 255, 0.5);
    
    --shadow-color-04: rgb(0, 0, 0);
    --shadow-color-02: rgba(0, 0, 0, 0.5);

    --transparent: rgba(0, 0, 0, 0);

    --bubble-brightness: 1.0;
    
    --button-disabled: #4a4a4a;
    --button-disabled-hover: #5a5a5a;
    --button-disabled-active: #707070;
    
    --button-border-color: rgb(80, 80, 80);
    --button-border-color-hover: rgb(100, 100, 100);
    
    --button-primary-color: rgba(45, 45, 45);
    --button-primary-color-hover: rgb(70, 70, 70);

    --navbar-gradient: linear-gradient(rgb(45, 45, 45,0.6) 80%, rgba(0, 0, 0, 0) 90%);
    --paginator-gradient: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));

    --bg-txtbox-color: rgba(45, 45, 45);
    --txtbox-border-color: rgb(70, 70, 70);
    --bg-txtbox-color-focused: rgba(60,60,60);
    --txtbox-border-color-focused: rgb(80, 80, 80);
}
:root[data-theme="ocean"]{
    --bg-color: rgb(30, 35, 110);
    --bg-secondary-color: rgba(23, 13, 158, 0.3);
    --bg-border-color: rgb(33, 81, 163);
    --text-color: rgb(255, 255, 255);
    --text-color-faded: rgb(255, 255, 255, 0.5);
    
    --shadow-color-04: rgb(0, 0, 0);
    --shadow-color-02: rgba(0, 0, 0, 0.5);

    --transparent: rgba(0, 0, 0, 0);

    --bubble-brightness: 1.0;
    
    --button-disabled: #4a4a4a;
    --button-disabled-hover: #5a5a5a;
    --button-disabled-active: #707070;
    
    --button-border-color: rgb(29, 82, 167);
    --button-border-color-hover: rgb(13, 52, 181);
    
    --button-primary-color: rgb(12, 21, 139);
    --button-primary-color-hover: rgb(43, 76, 194);

    --navbar-gradient: linear-gradient(rgba(15, 10, 35, 0.6) 80%, rgba(0, 0, 0, 0) 90%);
    --paginator-gradient: linear-gradient(rgba(0, 0, 0, 0), rgb(15, 10, 35, 0.6));

    --bg-txtbox-color: rgb(12, 21, 139);
    --txtbox-border-color: rgb(13, 52, 181);
    --bg-txtbox-color-focused: rgb(0, 46, 195);
    --txtbox-border-color-focused: rgb(4, 112, 207);
}
:root[data-theme="extra-dark"]{
    --bg-color: rgb(25, 25, 25);
    --bg-secondary-color: rgb(35, 35, 35,0.3);
    --bg-border-color: rgb(45, 45, 45);
    --text-color: rgb(255, 255, 255);
    
    --shadow-color-04: rgb(0, 0, 0);
    --shadow-color-02: rgba(0, 0, 0, 0.5);

    --transparent: rgba(0, 0, 0, 0);
    
    --button-disabled: #4a4a4a;
    --button-disabled-hover: #5a5a5a;
    --button-disabled-active: #707070;
    
    --button-border-color: rgb(60, 60, 60);
    --button-border-color-hover: rgb(80, 80, 80);
    
    --button-primary-color: rgba(30, 30, 30);
    --button-primary-color-hover: rgb(60, 60, 60);

    --navbar-gradient: linear-gradient(rgb(25, 25, 25) 80%, rgba(0, 0, 0, 0) 90%);
    --paginator-gradient: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));

    --bg-txtbox-color: rgba(30, 30, 30);
    --txtbox-border-color: rgb(60, 60, 60);
    --bg-txtbox-color-focused: rgba(40, 40, 40);
    --txtbox-border-color-focused: rgb(70, 70, 70);
}