<!-- Modal post delete -->
<div class="modal fade" id="modal_delete{{ admin_data.id }}" tabindex="-1" aria-labelledby="modalLabel_{{ admin_data.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel_{{ admin_data.id }}">Delete?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary button_shadow" data-bs-dismiss="modal">No</button>
                <a href="{{ admin_data.get_delete_post_adminpanel_url }}" class="btn btn-danger button_shadow" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>