{% extends 'base.html' %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">About The Django Project</h1>
    <div class="card post_body_noscale p-3">
        <p class="lead text-justify">
            The Django Project is a dynamic web application designed to empower users to explore, create, and interact with
            posts effortlessly.
            It offers a seamless platform for sharing ideas, engaging with content, and connecting with a vibrant community.
        </p>

        <h2 class="mt-4">Key Features</h2>
        <ul class="list-group  mb-4">
            <li class="list-group-item">Discover and interact with top posts.</li>
            <li class="list-group-item">Create your own posts and share your ideas.</li>
            <li class="list-group-item">Engage with the community through comments and upvotes.</li>
            <li class="list-group-item">Admins can manage content efficiently via the admin panel.</li>
            <li class="list-group-item">Contact feature to easily reach out to the development team.</li>
        </ul>

        <h2 class="mt-4">Contributing</h2>
        <p class="text-justify">
            Developers of all levels are welcome to contribute. Whether you're a beginner or an experienced coder,
            The Django Project offers an opportunity to learn, collaborate, and enhance your skills.
            Check out the <a href="https://github.com/zekaekop/The-Django-Project?tab=readme-ov-file">documentation</a> to
            get started.
        </p>

        <div class="text-center mt-4">
            <a href="https://github.com/zekaekop/The-Django-Project" class="btn btn-primary btn-lg button_shadow">Explore on GitHub</a>
        </div>
    </div>
</div>
{% endblock %}