{% extends 'base.html'%}
{% load static %}

{% block body %}

<div class="container justify-content-center mt-2">
    <h1 style="text-align: center;">Contact Us</h1>
    <h5 style="text-align: center;">Lorem ipsum dolor +90 999 999 9999 amet consectetur @whatsapp elit. Ad, beatae!</h3>
    <!--
    <div class="container mt-5">
        <div class="d-flex align-items-start">
            
            <div class="container img-thumbnail post_body">
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, autem. Culpa nostrum laudantium cupiditate odio odit dolor sapiente animi commodi sit dolores maxime eveniet saepe labore a voluptates magni, laborum at omnis suscipit officiis. At quasi quis perspiciatis excepturi accusamus.</h4>
                <img style="max-height: 10rem;" src="{% static '/img/heart.svg' %}" alt="">
            </div>-->

            {% include 'info/form.html'%}

        </div>
    </div>
</div>

<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Thank You!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        We will contact you soon, thank you!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="window.location.href='/'">Return to Home Page</button>
      </div>
    </div>
  </div>
</div>

<script>
{% if success %}
document.addEventListener('DOMContentLoaded', function() {
    var successModal = new bootstrap.Modal(document.getElementById('successModal'));
    successModal.show();
});
{% endif %}
</script>

{% endblock %}