
{% load crispy_forms_tags %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 card" style="margin: 15px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.449);">
            <form method="POST" >
                <h1 class="text_color">{{title}}</h1>
                <hr>
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary button_shadow" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>