
{% extends 'base_search.html'%}
{% load crispy_forms_tags  %}
{% load static %}
{% block body %}
    <div class="container">
        <div class="row">
            
            {% include 'user_welcome_title.html' %}

            <h6>Last Login {{request.user.last_login}}</h6>


            <div class="card">
                <ul class="nav d-flex">
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/admin_panel/category/posts">{% if data_category == "posts" %}<b>Posts</b></a>{%else%}Posts{% endif %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/admin_panel/category/users">{% if data_category == "users" %}<b>Users</b>{%else%}Users{% endif %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/admin_panel/category/contacts">{% if data_category == "contacts" %}<b>Contact</b>{%else%}Contact{% endif %}</a>
                    </li>
                </ul>
            </div>

            <div class="card table-responsive">
                <table class="table">
                <thead>
                    {% if data_category == "users"%}
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Staff</th>
                        <th scope="col">SuperUser</th>
                        <th scope="col">Passwords</th>
                        <th scope="col">Active</th>
                        </tr>
                    {% elif data_category == "posts" %}
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Posts</th>
                        <th scope="col">Files</th>
                        <th scope="col">Upvotes</th>
                        <th scope="col">Views</th>
                        <th scope="col">Reports</th>
                        <th scope="col">UserIDs/Usernames</th>
                        <th scope="col">Actions</th>
                        </tr>
                    {% elif data_category == "contacts" %}
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Adress</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Email</th>
                        <th scope="col">UserIDs/Accounts</th>
                        <th scope="col">Actions</th>
                        </tr>
                    {% else %}
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Select a option</th>
                        </tr>
                    {% endif %}
                </thead>
                <tbody>
                    {% if data_category == "users"%}
                        {% for admin_data in admin_datas%} <!-- Users -->
                            <tr>
                                <th scope="row">{{admin_data.id}}</th>
                                <td>{{admin_data}}</td>                      
                                      
                                {% include 'account_templates/modals/modal_user_staff.html' %}
                                {% include 'account_templates/modals/modal_user_superuser.html' %}
                                {% include 'account_templates/modals/modal_active.html' %}
                                {% include 'account_templates/modals/modal_password.html' %}

                                {% if request.user.is_staff %}
                                    {% if request.user.is_superuser %}

                                        <!-- this is for styling when its false or true -->
                                        <!-- currently i just use it to change icon states-->
                                        {% if admin_data.is_staff %}
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#modal_staff{{ admin_data.id }}"><img class="admin_true" alt="Is Staff"></a></td>
                                        {% else %}
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#modal_staff{{ admin_data.id }}"><img class="admin_false" alt="Not Staff"></a></td>
                                        {% endif %}

                                        {% if admin_data.is_superuser %}
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#modal_superuser{{ admin_data.id }}"><img class="admin_true" alt="Is SuperUser"></a></td>
                                        {% else %}
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#modal_superuser{{ admin_data.id }}"><img class="admin_false"  alt="Not SuperUser"></a></td>
                                        {% endif %}

                                        <td><a href="" data-bs-toggle="modal" data-bs-target="#modal_password{{ admin_data.id }}"><img class="edit_normal" alt="Edit Password"></a></td>

                                        {% if admin_data.is_active %}
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#modal_active{{ admin_data.id }}"><img class="account" alt="Activated"></a></td>
                                        {% else %}
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#modal_active{{ admin_data.id }}"><img class="account_false" alt="Deactive"></a></td>
                                        {% endif %}
                                    {% else %}
                                        <td><img class="disabled_eye" alt="Cant view"></td>
                                        <td><img class="disabled_eye" alt="Cant view"></td> <!-- for people who get into admin panel without access -->
                                        <td><img class="disabled_eye" alt="Cant view"></td> <!-- it shouldnt show but just in case :) -->
                                        <td><img class="disabled_eye" alt="Cant view"></td>
                                    {% endif %}
                                {% else %}
                                    <td><img class="disabled_eye" alt="Cant view"></td>
                                    <td><img class="disabled_eye" alt="Cant view"></td>
                                {% endif %}
                            </tr>

                        {% endfor %}
                    {% elif data_category == "posts" %}
                        {% for admin_data in admin_datas%} <!-- Posts -->
                            <tr>
                                <th scope="row">{{admin_data.id}}</th>
                                <td>{{admin_data|safe|truncatechars:50}}</td>

                                <td>
                                    {% if admin_data.user_html %}
                                        <small class="text_fadded">HTML </small>
                                        {% if admin_data.user_css %}
                                            <small class="text_fadded">+ CSS </small>
                                        {% endif %}
                                        {% if admin_data.user_js %}
                                            <small class="text_fadded"><b>+<a href="https://en.wikipedia.org/wiki/Cross-site_scripting" style="color: red; "> js</a></b></small>
                                        {% endif %}
                                    {% else %}
                                    <small class="text_fadded">None </small>
                                    {% endif %}
                                </td>

                                <td><img class="arrow_upvote" alt="Views">{{admin_data.upvotes}}</td>
                                <td><img class="eye" alt="Views">{{admin_data.post_views}}</td>
                                <td><img class="flag" alt="Views">{{admin_data.reports}}</td>
                                <td>#{{admin_data.user.id}} {{admin_data.user.username|safe|truncatechars:50}}</td>
                                <td>
                                    <a href="{{ admin_data.get_absolute_url }}"><img class="eye" alt="View Post"></a>
                                    <a href="{{ admin_data.get_update_url }}"><img class="edit" alt="Edit Post"></a>
                                    <a href="" data-bs-toggle="modal" data-bs-target="#modal_delete{{ admin_data.id }}"><img class="delete" alt="Delete Post"></a>
                                </td>
                            </tr>

                            {% include 'account_templates/modals/modal_post.html' %}
                        {% endfor %}
                    {% elif data_category == "contacts" %}
                        {% for admin_data in admin_datas%} <!-- Contact -->
                            <tr>
                                <th scope="row">{{admin_data.id}}</th>
                                <td>{{admin_data.name|safe|truncatechars:20}}</td>
                                <td>{{admin_data.surname|safe|truncatechars:20}}</td>
                                <td>{{admin_data.adress|safe|truncatechars:70}}</td>
                                <td>{{admin_data.user_gender}}</td>
                                <td>{{admin_data.email|safe|truncatechars:20}}</td>
                                <td>#{{admin_data.user.id}} {{admin_data.user|safe|truncatechars:20}}</td>
                                <td>
                                    <a href="{{ admin_data.get_modify_contact_adminpanel_url }}"><img class="edit_normal" alt="Edit Contact"></a>
                                    <a href="" data-bs-toggle="modal" data-bs-target="#modal_contact{{ admin_data.id }}"><img class="delete" alt="Delete Post"></a>
                                </td>
                            </tr>

                            {% include 'account_templates/modals/modal_contact.html' %}
                        {% endfor %}
                    {% endif %}
                </tbody>
                </table>
            </div>

            <div class="paginator-fixed"> <!-- also adds paginator gradient -->
                <div class="pagination justify-content-center mt-5 m-4">
                    <span class="step-links">

                        {% if admin_datas.has_previous and admin_datas.has_next %}
                            
                            <a  href="?page=1"><img class="paginator-arrows paginator-arrow-double-left" alt=""></a>
                            <a  href="?page={{ admin_datas.previous_page_number }}"><img class="paginator-arrows paginator-arrow-left" alt=""></a>

                            <span class="current">
                                Page {{ admin_datas.number }} of {{ admin_datas.paginator.num_pages }}
                            </span>

                            <a  href="?page={{ admin_datas.next_page_number }}"><img class="paginator-arrows paginator-arrow-right" alt=""></a>
                            <a   href="?page={{ admin_datas.paginator.num_pages }}"><img class="paginator-arrows paginator-arrow-double-right" alt=""></a>
                        {% elif admin_datas.has_previous %}

                            <a  href="?page=1"><img class="paginator-arrows paginator-arrow-double-left" alt=""></a>
                            <a  href="?page={{ admin_datas.previous_page_number }}"><img class="paginator-arrows paginator-arrow-left" alt=""></a>
                           
                            <span class="current">
                                Page {{ admin_datas.number }} of {{ admin_datas.paginator.num_pages }}
                            </span>

                            <a><img class="paginator-arrows-disabled paginator-arrow-right" alt=""></a>
                            <a><img class="paginator-arrows-disabled paginator-arrow-double-right" alt=""></a>

                        {% elif admin_datas.has_next %}

                            <a><img class="paginator-arrows-disabled paginator-arrow-double-left"  alt=""></a>
                            <a><img class="paginator-arrows-disabled paginator-arrow-left"alt=""></a>

                            <span class="current">
                                Page {{ admin_datas.number }} of {{ admin_datas.paginator.num_pages }}
                            </span>

                            <a  href="?page={{ admin_datas.next_page_number }}"><img class="paginator-arrows paginator-arrow-right" alt=""></a>
                            <a   href="?page={{ admin_datas.paginator.num_pages }}"><img class="paginator-arrows paginator-arrow-double-right" alt=""></a>


                        {% endif %}
                    </span>
                </div>
            </div>

        </div>
    </div>
{% endblock %}