{% extends 'base.html'%}

{% load crispy_forms_tags %}

{% block body %}

<div class="container">
    <div class="row justify-content-center" style="margin-top: 8rem;">
        <div class="col-md-3 img-thumbnail" style="margin: 15px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.449);">
            <form method="POST" autocomplete="off">
                <h1>{{title}}</h1>
                <hr>
                {% csrf_token %}
                {{ form|crispy }}
                {% if donthaveaccount %}
                    <div class="d-flex justify-content-center">
                        <input class="btn btn-primary button_shadow" type="submit" value="Enter">
                        <a href="{% url 'accounts:signin' %}" class="ms-auto mt-1 text_fadded">Don't have an account?</a>
                    <div>
                {% else %}
                    <div class="d-flex justify-content-center">
                        <input class="btn btn-primary button_shadow" type="submit" value="Enter">
                        <a href="{% url 'accounts:login' %}" class="ms-auto mt-1 text_fadded">Already have an account?</a>
                    <div>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock body %}