<!-- Navbar Start -->
 
{% load static %}
{% load profile_tag %}

<nav class="navbar navbar-expand-lg" role="banner">
    <div class="container">

        <img id="home_boat" onclick="damage_boat()" src="{% static 'img/header/boat_sail_dmg0.png'%}" alt="Home">
        <a id="credit_boat" href="{% url 'secret:thanks'%}" style="display: none;" ><img src="{% static 'img/header/diamond.svg'%}" alt="secret"></a>

            <a href="/" class="nav-link navbar-brand  me-auto" style="color: white !important;"> Home</a>

        <div class="d-flex sm-auto me-3">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#searchbar" 
                aria-controls="searchbar    " aria-expanded="false" aria-label="Toggle search">
                <img class="map_search" alt="">
            </button>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks" 
                aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
                <img class="compass" alt="">
            </button>


        </div>

        <div class="collapse navbar-collapse" id="searchbar">
            <!-- Search bar -->
        
            <form class="me-2" role="search" method="GET" action="">
                <div class="input-group">
                <input class="form-control" type="text" name="q" value="{{ request.GET.q }}" style="z-index: 2;">
                <button class="btn btn-primary button_shadow" type="submit">Search</button>
                </div>  
            </form>
        </div>
        
        <!-- Main pages -->
        <div class="collapse navbar-collapse" id="navbarLinks">
            <ul class="nav d-flex justify-content-end ms-auto">
                {% if request.user.is_authenticated %} <!-- Header is always Dark -->
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'post:create' %}" style="color: white !important;">Create</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'accounts:logout' %}" style="color: white !important;"
                            data-bs-toggle="modal" data-bs-target="#modal_1">Logout</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'user_profile:profile' request.user %}" style="color: white !important;">Profile</a></li>
                    {% if request.user.is_staff %}
                        <li class="nav-item"><a class="nav-link text-light" href="{% url 'admin_panel:admin_panel' %}" style="color: white !important;">Admin Panel</a></li>
                    {% endif %}
                {% else %}
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'accounts:login' %}" style="color: white !important;">Login</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'accounts:signin' %}" style="color: white !important;">Sign in</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'post:index' %}" style="color: white !important;">Feed</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'info:about'%}" style="color: white !important;">About us</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'info:contact'%}" style="color: white !important;">Contact</a></li>
                
                <!-- Light and Dark mode -->
                <li class="nav-item"><a href=""><img style="margin-top: 50%;" id="theme-toggle" class="scale-hover theme_toggle_icon" alt=""></a></li> 
            </ul>
        </div>

        {% include 'header_modals/modal_logout.html' %}

    </div>

        <div class="transform-scale-20 profile-box me-2" data-size="2.5">
            <div class="profile-box" data-size="2.5"> 
                {% render_profile request.user %}
            </div>
        </div>
        
</nav>

<script src="{% static 'js/bubbles.js'%}"></script>

<script src="{% static 'js/theme.js'%}"></script>

<script src="{% static 'js/secret.js'%}"></script>