
{% extends 'base_search.html'%}
{% load static %}
{% block body%}

<div class="container">             
        <div class="col d-flex mt-3">
            <ul class="nav d-flex justify-content-center ms-auto">
                {% for cats in category %}
                    <li  class="nav-item">
                         <a class="nav-link p-0" href="{% url 'post:category' cats %}">
                            {% if current_category == cats %}
                            <p class="desktop_compt"><b>{{ cats.label }}</b></p>
                            <p class="mobile_compt"><b>{{ cats }}</b></p>
                             <div class="text_fadded d-flex justify-content-center ms-auto" style=" margin-top: -0.5rem;">{{category_activity}}</div>
                            {% else %} <!-- Selected category becomes bold -->
                            <p class="desktop_compt">{{ cats.label }}   </p>
                            <p class="mobile_compt">{{ cats }}</p>
                            {% endif %}
                        </a>

                    {% if forloop.counter != category_len %}
                        </li>  <span class="text_fadded ms-2 me-2">/</span>
                    {% endif%}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% include 'post_templates/post_cards.html'%}


        <div class="paginator-feed paginator-fixed">
            <div class="pagination justify-content-center mt-5 m-4">
                <span class="step-links">

                    {% if posts.has_previous and posts.has_next %}
                        <a  href="?page=1"><img class="paginator-arrows paginator-arrow-double-left" alt=""></a>
                        <a  href="?page={{ posts.previous_page_number }}"><img class="paginator-arrows paginator-arrow-left" alt=""></a>
                        
                        <span class="current">
                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                        </span>

                        <a  href="?page={{ posts.next_page_number }}"><img class="paginator-arrows paginator-arrow-right" alt=""></a>
                        <a   href="?page={{ posts.paginator.num_pages }}"><img class="paginator-arrows paginator-arrow-double-right" alt=""></a>
                    {% elif posts.has_previous %}

                        <a  href="?page=1"><img class="paginator-arrows paginator-arrow-double-left" alt=""></a>
                        <a  href="?page={{ posts.previous_page_number }}"><img class="paginator-arrows paginator-arrow-left" alt=""></a>
                        
                        <span class="current">
                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                        </span>

                        <a><img class="paginator-arrows-disabled paginator-arrow-right" alt=""></a>
                        <a><img class="paginator-arrows-disabled paginator-arrow-double-right" alt=""></a>

                    {% elif posts.has_next %}

                        <a><img class="paginator-arrows-disabled paginator-arrow-double-left"  alt=""></a>
                        <a><img class="paginator-arrows-disabled paginator-arrow-left"alt=""></a>

                        <span class="current">
                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                        </span>

                        <a  href="?page={{ posts.next_page_number }}"><img class="paginator-arrows paginator-arrow-right" alt=""></a>
                        <a   href="?page={{ posts.paginator.num_pages }}"><img class="paginator-arrows paginator-arrow-double-right" alt=""></a>


                    {% endif %}
                </span>
            </div>
        </div>
    </div>

    <script src="{% static 'js/post/views_index.js' %}"></script>
    <script src="{% static 'js/post/upvotes_index.js' %}"></script>

<script>/*
    document.querySelectorAll('.cloud_container').forEach(function(container) {
        const cloud_image = [
            "{% static '/img/wallpaper/cloud1.png' %}",
            //"{% static '/img/wallpaper/cloud2.png' %}",
            "{% static '/img/wallpaper/cloud3.png' %}",
            "{% static '/img/wallpaper/cloud4.png' %}",
        ];

        const cloud_count = 1;

        for(let i = 0; i < cloud_count; i++){
            const cloud = document.createElement("img");
            cloud.src = cloud_image[Math.floor(Math.random() * cloud_image.length)];

            cloud.className = "cloud";

            cloud.style.left = Math.random() * 30 + "%";
            cloud.style.top = Math.random() * 30 + "%";

            cloud.style.scale = (Math.random() + 1) * 0.3;

            cloud.style.position = "absolute";

            container.appendChild(cloud);
        }
    });*/
</script>

{% endblock%}
