{% extends 'base_noheader.html' %}

{% load static %}
{% block body%}

<div class="container">             
    <div class="row " style="margin-top: 1rem;">
        <div class="col d-flex mt-3">
            <div class="card post_body w-100 d-flex flex-column justify-content-between" style="height: 100%;"> 
                <div class="caption flex-grow-1 d-flex flex-column">
                    
                    <div style="position: relative; flex-grow: 1; overflow: hidden; overflow-wrap: break-word;">

                        <div class="card-header mb-2">
                            <h3 class="post_title">
                                {{ post.title }}
                            </h3>
                            <h6 class="post_title">
                                OP: {{ post.user.username }}
                            </h6>
                        </div>                      
                        {% if post.video %}
                            <video src="{{ post.video.url }}" alt="Post video" class="img-thumbnail" width="500" controls></video>
                        {% else %}
                            {% if post.pk and post.images.count %}
                                <img src="{{ post.images.all.0.image.url }}" alt="Post Image" class="img-thumbnail" style="max-height: 200px;">
                            {% elif post.pk and post.image %}
                                <img src="{{ post.image.url }}" alt="Post Image" class="img-thumbnail" style="max-height: 200px;">
                            {% endif %}
                        {% endif %}
                        
                        {% if post.video %}
                            {% if post.image%}
                                <small class="text_fadded">Show More ...</small>
                            {% endif %}
                        {% endif %}

                        <div class="card-header mt-2" style="position: relative;">
                            {{ post.desc|safe|linebreaks|truncatechars:150 }}
                        </div>

                        {% if post.site_preview %}
                            <div class="d-flex flex-column">
                                <img src="" alt="Post site preview" class="img-thumbnail" style="max-height: 200px;">
                                <small class="text_fadded">Site preview*</small>
                            </div>
                        {% endif %}
                        
                        {% if post.user_html %}
                            <small class="text_fadded">HTML included </small>
                            {% if post.user_css %}
                                <small class="text_fadded">CSS included </small>
                            {% endif %}

                            {% if post.user_js %}
                                <small class="text_fadded"><b><a href="https://en.wikipedia.org/wiki/Cross-site_scripting" style="color: red; ">js included </a></b></small>
                            {% endif %}
                        {% endif %}

                        <div class="cloud_container"></div> <!-- creates card clouds -->

                    </div>

                    <div class="d-flex mt-auto card-header" style="margin: 0.2rem;"> <!-- post footer -->

                        <a href="" role="button"><img class="scale-hover arrow_upvote" alt=""></a> 0

                        <img class="ms-2 eye" alt=""> 0
                        <div class="ms-auto">
                                <a href=""><img class="edit"  alt="Edit Post"></a>
                                <a href="" data-bs-toggle="modal" data-bs-target="#modal_delete_{{ post.id }}"><img class="delete" alt="Delete Post"></a>
                        </div>

                        <div class="ms-auto">
                            <a href="" data-bs-toggle="modal" data-bs-target="#modal_report_{{ post.id }}"><img class="flag" alt="Report Post"></a>
                            <small data-toggle="tooltip" data-placement="top" title="{{post.date}}">0s Ago</small>
                        </div>             
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock%}
